/* src/components/MainContent/MainContent.css */

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    column-gap: 120px; /* Задаем зазор между колонками */
  }
  
  .main-content__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 700px; /* Ширина левой колонки */
  }
  
  .main-content__top-section {
    width: 100%;
    height: 133px;
    background-color: #D9D9D9;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .main-content__about-section {
    width: 100%;
    height: 282px;
    background-color: #D9D9D9;
    border-radius: 15px;
  }
  
  .main-content__buttons {
    display: flex;
    gap: 20px;
  }
  
  .main-content__button {
    width: 210px;
    height: 53px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 15px;
  }
  
  .main-content__right {
    display: flex;
    align-items: flex-start;
    width: 440px; /* Ширина правой колонки */
  }
  
  .main-content__image-section {
    width: 100%;
    height: 672px;
    background-color: #D9D9D9;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  